* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: #999999;
  position: fixed;
  width: 100vw;
  height: 10vh;
}
@media screen and (max-width: 600px) {
  nav {
    padding-top: 10px;
    width: 100%;
    margin: auto;
    overflow: hidden;
  }
}

.works {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1px;
  padding: 10px;
}
.works #awoks {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  margin-right: 40px;
}
.works #awoks:hover {
  color: #000;
  cursor: pointer;
  padding: 10px;
  border: 1px solid;
  border-radius: 10px;
  border-color: #fff;
}
@media screen and (max-width: 600px) {
  .works #awoks {
    margin-right: 20px;
    display: block;
    font-size: 15px;
    color: #000;
  }
  .works #awoks:hover {
    color: #fff;
    cursor: pointer;
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;
    border-color: #000;
  }
}

#aworks {
  color: #fff;
  margin-left: 20px;
  text-decoration: none;
  text-transform: uppercase;
  animation: name 15s linear infinite;
}
@keyframes name {
  to {
    color: rgb(165, 42, 42);
    opacity: 0.5;
  }
}

main {
  background-color: #000;
  width: 100%;
  height: 100%;
  margin: auto;
}
@media screen and (max-width: 600px) {
  main {
    width: 100%;
    margin: auto;
    overflow: hidden;
  }
}
main .firsts {
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 70px;
  font-weight: bold;
  width: 100%;
}
@media screen and (max-width: 600px) {
  main .firsts {
    width: 100% 0;
    margin: auto;
  }
}
main .firsts h1 {
  overflow: hidden;
  white-space: nowrap;
  outline: none;
  animation: typo 2s steps(10) forwards infinite;
}
@keyframes typo {
  from {
    width: 0%;
  }
  to {
    width: 180px;
    color: rgb(165, 42, 42);
  }
}
main .orks {
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 0px 40px 0px 20px;
  margin-top: -130px;
}
@media screen and (max-width: 600px) {
  main .orks {
    margin: auto;
    width: 100%;
  }
}
main .orks #hfirst {
  margin-left: 40px;
  padding: 10px;
  border: none;
  background-color: white;
  border-radius: 100px;
  opacity: 0.3;
  color: rgb(204, 13, 13);
}
@media screen and (max-width: 600px) {
  main .orks #hfirst {
    width: 100%;
    height: auto;
    margin: auto;
    line-height: 70px;
  }
}
main .orks #hlast {
  margin-right: 40px;
  background-color: white;
  border: none;
  border-radius: 100px;
  padding: 10px;
  opacity: 0.3;
  color: rgb(204, 13, 13);
}
@media screen and (max-width: 600px) {
  main .orks #hlast {
    width: 100%;
    height: auto;
    margin: auto;
    line-height: 70px;
  }
}
main .orks .fours {
  font-size: 20px;
  line-height: 20px;
  padding-top: 50px;
}
main .orks .fours .face {
  text-decoration: none;
}
main .orks .fours .face .fa-square-facebook {
  padding: 10px;
  color: white;
  font-size: 40px;
  margin: 2px 0px 0px 10px;
}
main .orks .fours .face .fa-square-facebook:hover {
  color: black;
  background-color: white;
  cursor: pointer;
}
main .orks .fours input {
  text-align: center;
  background-color: white;
  color: rgb(165, 42, 42);
  border: none;
  padding: 5px 30px 5px 39px;
  margin-top: 10px;
}
main .orks .fours textarea {
  margin-top: 10px;
  text-align: center;
  color: rgb(165, 42, 42);
}
main .orks .fours button {
  border: none;
  display: block;
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
  color: rgb(165, 42, 42);
  padding: 10px 30px 10px 10px;
}
@media screen and (max-width: 600px) {
  main .orks .fours button {
    width: auto;
    display: grid;
  }
}
main .orks #kros {
  color: white;
  font-size: 20px;
}
@media screen and (max-width: 600px) {
  main .orks #kros {
    width: 100%;
    height: auto;
  }
}
main .orks #cros {
  color: rgb(165, 42, 42);
  font-size: 15px;
  line-height: 40px;
}
@media screen and (max-width: 576px) {
  main .orks {
    width: 100%;
    height: auto;
    margin: auto;
    padding: auto;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
}

footer {
  text-align: center;
  background-color: rgba(153, 153, 153, 0.6);
  width: 100%;
  height: 10vh;
  font-size: 15px;
  font-family: Verdana, Tahoma, sans-serif;
  font-weight: 400;
  color: rgb(165, 42, 42);
}
footer a {
  text-decoration: none;
  font-size: 15px;
  color: #fff;
}
footer a:hover {
  cursor: pointer;
  font-size: 30px;
}
@media screen and (max-width: 600px) {
  footer {
    width: 100%;
    margin: auto;
    overflow: hidden;
    padding-left: 20px;
  }
}/*# sourceMappingURL=cont.css.map */