*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color:  #999999;
    position: fixed;
    width: 100vw;
    height: 10vh;
    @media screen and (max-width: 600px) {
        padding-top: 10px;
        width: 100%;
        margin: auto;
        overflow: hidden;
    }



    
.dh2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1px;
    padding: 10px;
    #awoks{
        text-decoration: none;
        color: #fff;
        font-size: 20px;
        margin-right: 40px;
        &:hover{
            color: #000;
            cursor: pointer;
            padding: 10px;
            border: 1px solid;
            border-radius: 10px;
            border-color: #fff;
        }
     @media screen and (max-width: 600px) {
            margin-right: 20px;
            display: block;
            font-size: 15px;
            color: #000;
            &:hover{
            color: #fff;
            cursor: pointer;
            padding: 10px;
            border: 1px solid;                border-radius: 10px;
            border-color: #000;
        }
            }
            
        }
    }
    
    #aworks{
        color: #fff;
        margin-left: 20px;
        text-decoration: none;
        text-transform: uppercase;
        animation: name 15s linear infinite;
        @keyframes name {
            to{
                color: rgb(165, 42, 42);
                opacity: 0.5;
            }
        }
    }
}

main{
background-color: #000;
width: 100%;
margin: auto;
overflow: hidden;

#edu{
    text-align: center;
    font-size: 10px;
    width: 100%;

    h1{
        padding-top: 80px;
        color: rgb(165, 42, 42);
        font-weight: bold;
        padding-left: 65px;
        overflow: hidden;
        white-space: nowrap;
        outline: none;
        animation: typo 4.5s steps(34) forwards infinite;
       @keyframes typo{
        from{
            width: 0;
        }
        to{
            width: 395px;
            color: rgb(165, 42, 42);
        }
    } 
    }
    @media screen and (max-width: 600px) {
        width: 100%;
        margin: auto;
        
    }
}

.edu{
    background-color: #000;
    width: 100%;
    height: auto;

#komz{
    color: #fff;
    padding: 50px;
    text-align: center;
    font-size: 20px;
    // background-color: white;
    fieldset{
        margin-left: -43px;
        overflow: hidden;
        
    }

    legend{
        margin-left: 10px;
        color: rgb(165, 42, 42);
    }

    

    table{
        width: auto;
        height: auto;
        padding: 30px;
        background-color: white;
        color: black;
        padding-left: 30px;
        margin-left: 10%;
        @media screen and (max-width: 576px) {
            width: auto;
            height: auto;
            margin-left: -40px;
            margin-right: -10px;
        }
    
    th{
        font-size: 25px;
        padding: 10px;
        line-height: 30px;
        border-radius: 10px;
        background-color: #000;
        color: white;

        // margin-bottom: 10px;
         }

         td{
            border-radius: 10px;
            padding: 10px;
            background-color: #000;
            color: white;
    
         }

    }
}
@media screen and (max-width: 576px) {
    width: 100%;
    height: auto;
    display: grid;

    legend{
        margin-left: 200px;
    }

}

}

#boss{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: #fff;
    background-color: #000;

    fieldset{
        margin-left: -60px;
        overflow: hidden;
        margin-left: 5px;
    }

    legend{
        margin-left: 200px;
        color: rgb(165, 42, 42);
    }

    table{
        width: auto;
        height: auto;
        padding: 30px;
        background-color: white;
        color: black;
        padding-left: 30px;
        margin-left: 10%;
        @media screen and (max-width: 576px) {
            margin: auto;
            width: 100%;
        }
    
    th{
        font-size: 25px;
        padding: 10px;
        line-height: 30px;
        border-radius: 10px;
        background-color: #000;
        color: white;

        @media screen and (max-width: 576px) {
            margin: auto;
            width: 100%;
        }

        // margin-bottom: 10px;
         }

         td{
            border-radius: 10px;
            padding-left: 5px;
            padding-right: 5px;
            background-color: #000;
            color: white;
            text-align: center;
            
            @media screen and (max-width: 576px) {
                margin: auto;
                width: 100%;
            }
         }

    
}

@media screen and (max-width: 600px) {
    width: 100%;
    height: auto;
    display: grid;
    fieldset{
        margin-left: -55px;
        
    }

    legend{
        margin-left: 200px;
    }

}

}

@media screen and (max-width: 576px) {
    height: auto;
    width: 100%;
    padding-left: -20px;
   }

}

footer{
    text-align: center;
    background-color: #9999;
    width: 100%;
    height: 10vh;
    font-size: 15px;
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: 400;
    color: rgb(165, 42, 42);
    a{
        text-decoration: none;
        font-size: 15px;
        color: #fff;
        &:hover{
            cursor: pointer;
            font-size: 30px;
        }
    }

    @media screen and (max-width: 600px) {
       width: 100%;
       margin: auto; 
       overflow: hidden;
       padding-left: 20px;
    }
}