*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(4.jpg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    opacity: 0.99;
    overflow-y: scroll;
    overflow-x: hidden; 
    @media screen and (max-width: 540px) {
        width: 100%;
        height: 100vh;
        overflow: scroll;
        
    }

    .preloader-container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        margin: 20px;
        .preloader{
            width: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100px;
            margin: 200px;
            background-color: aqua;
            border-radius: 100px;
            outline: none;
            border: 20px dashed;
            z-index: 100;
            animation: myloader .3s linear infinite;
        @keyframes myloader {
            from{
                transform: rotate(0turn);
            }
            to{
                transform: rotate(1turn);
            }
            }
            @media screen and (max-width:540px){
            height: 100px;
            margin: 200px;
            border: 20px dashed;
 
            }
        }
        }

    }

    .chatbot-container{
        display: grid;
        place-content: center;
        width: 50vw;
        height: 90vh;
        background-color: aqua;
        overflow: hidden;
        position: absolute;
        right: 0;
        top: -20px;
        z-index: 100;
        display: none;
        margin-top: 20px;
    
        @media screen and (max-width: 540px) {
                height: 90vh;
                width: auto;
                top: -20px;
                position: absolute;
                background-color: aqua;
        }
    
    .chatbot-message{
        background-color: white;
        color: black;
        width: 52.7%;
        height: 60%;
        margin: auto;
        position: relative;
        top: 20px;
        overflow: visible;
    
        @media screen and (max-width: 540px){
                width: 90%;
                height: auto;
                top: 20px;
                position: relative;
            }
        
    
    #p{
        text-align: center;
        font-size: 20px;
        color: blue;
        margin: auto;
    }

#chatbottext{
    margin-top: 30px;
    width: auto;
    height: auto;
    word-wrap: break-word;
    line-height: 1.5;
    font-size: 18px;
}

    .input-block{
       background-color: grey;
       width: auto;
       height: auto;
       margin-top: 270px;
    
    @media screen and (max-width: 540px) {
        background-color: grey;
        width: auto;
        height: auto;
        display: grid;
        place-content: center;
        margin-top: 270px;
    }
    @media screen and (max-width: 540px) {
        #enter{
            padding: 13px;
            position: absolute;
            right: 40px;
            background-color: blueviolet;
            color: white;
            border: none;
            outline: none;
            bottom: 71px;
    
        }
     
    }
    #enter{
        padding: 13px;
        position: absolute;
        right: 40px;
        background-color: blueviolet;
        color: white;
        border: none;
        outline: none;
        bottom: 71px;
        display: block;
        &:hover{
            background-color: aqua;
            color: white;
            transition: all 1s;
        }

    }

    #textbox{
        padding: 10px;
        width: auto;
        margin: 10px 15%;
        text-align: start;
        font-size: 18px;
        background-color: coral;
        color: rebeccapurple;
        border: none;
        outline: none;
        @media screen and (max-width:540px) {
            width: auto;
            padding: 10px;
            margin: 10px;
        }  
    }
    #end{
        padding: 10px;
        width: auto;
        margin: auto 30%;
        margin-bottom: 10px;
        font-size: 18px;
        background-color: white;
        border: none;
        outline: none;

      &:hover{
        cursor: pointer;
        background-color: crimson;
        color: blue;
        transition: all 0.3s;
    }
    @media screen and (max-width:540px) {
        width: auto;
        padding: 10px;
        margin: 10px;
    }  
}
    }
   
 }
}

 #lets_chat{
    text-align: center;
    margin: auto;
    font-size:20px;
    font-variant: small-caps;
    color: blue;
    background-color: magenta;
    width: 130px;
    border-radius: 10px;
    padding: 10px;
    height: 58px;
    z-index: 100;
    position: absolute;
    animation: Hover 3s ease-in-out forwards;

  &:hover{
    transition: padding 0.3s;
    color: white;
    background-color: goldenrod;
    cursor: pointer;
    border-radius: 50%;
    width: 90px;
    height: 90px;
}


@keyframes Hover {
    from{
        transform: translateX(-100px);
        position: absolute;
        top: 30px;
        left: 100px;
    }
    to{
        transform: translateY(470px);
        position: absolute;
        right: 20px;
    }
}
}


nav{
    background-color: rgba(0, 0, 0, 1.5);
    color: white;
    width: 250px;
    height: auto;
    padding-top: 10px;
    // box-shadow: 2px 2px 2px 2px grey, -2px -2px 2px 2px grey;
    @media screen and (max-width: 540px) {
        background-color: rgba(0, 0, 0, 1.5);
        color: white;
        width: 100%;
        height: auto;
        padding: 5px;
        box-shadow: none;
    }
    .fa-toggle-on, .fa-toggle-off{
        position: fixed;
        font-size: 20px;
        opacity: 1;
        background-color: black;
        padding: 10px;
        color: white ;
        top: 15px;
        left: 400px;
        border-radius: 50%;
        cursor: pointer;
        &:hover{
            background-color: #fff;
            color: #000;
            font-size: 20px;
            transition: all 0.3s;
        
        }
        @media screen and (max-width:540px) {
            left: 100px;
            top: 0;
            font-size: 20px;
        }
        
    }
    #glass{
        font-size: 25px;
        font-weight: bold;
        opacity: 1;
        border-radius: 50%;
        text-align: center;
        background-color: black;
        padding: 10px;
        margin-right: auto 5px;
        color: white;
        right: 37%;
        top: 15px;
        position: fixed;
        cursor: pointer;
        &:hover{
            background-color: #fff;
            color: #000;
            transition: all 0.3s;
        }
        @media screen and (max-width: 540px) {
        font-size: 20px;
        font-weight: bold;
        opacity: 1;
        border-radius: 50%;
        text-align: center;
        background-color: black;
        padding: 10px;
        margin-right: 5px;
        color: white;
        right: 100px;
        top: 0;
        position: fixed;
        cursor: pointer;

        }

    }
    #klose{
        font-size: 25px;
        font-weight: bold;
        opacity: 1;
        border-radius: 50%;
        text-align: center;
        background-color: black;
        padding: 10px;
        color: white;
        width: 40px;
        right: 37%;
        top: 15px;
        margin: auto;
        position: fixed;
        cursor: pointer;
        display: none;
        z-index: 3;
        &:hover{
            background-color: #fff;
            color: #000;
            transition: all 0.3s;
        }
        @media screen and (max-width: 540px) {
            left: 0;
            margin: -5px 5px;    
            top: 10px;
            width: 10%;
        }

    }
    #mytext{
        border-radius: 40px;
        border: none;
        padding: 10px;
        width: 200px;
        outline: none;
        text-align: center;
        font-size: 20px;
        transition: all .3s;
        display: none;
        position: fixed;
        right: 40%;
        top: 15px;
        z-index: 3;
        margin: auto;
        @media screen and (max-width: 540px) {
            width: 140px;
            padding: 5px;
            height: auto;
            position: fixed;
            left: 10px;
            margin: -10px 30px;
        }
            &:focus{
                background-color: salmon;
            }
    }
    .ports{
        background-color: rgba(0, 0, 0, 1.5);
        text-transform: uppercase;
        font-size: 25px;
        width: 100vw;
        height: 10vh;
        position: fixed;
        margin-top: -32px;
        padding-top: 20px;
        padding-left: 20px;
        // box-sizing: border-box;
        text-align: start;
        opacity: 0.9;
        @media screen and (max-width: 540px) {
            display: none;
            width: auto;
            height: auto;
        }
    }
    #God{
        font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
        font-style: oblique;
        color: orange;
        font-size: 10px;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        margin: 15px auto;
        animation: nams 8s steps(86) forwards,
        blinktext 8s steps(86) forwards;
        @keyframes nams {
            from{
                width: 0px;
            }
            to{
                width: 78%;
            
            }
        }
        @keyframes blinktext {
            from{
                color: white;
                border-right: 1px solid orange;
            }
            to{
                color: aqua;
                border-right: 1px solid orange;
            
            }
        }
        
        @media screen and (max-width: 540px) {
            display: none;
        }
       
        }
         
        &::after{
            content: "";
                width: 250px;
                height: 1px;
                background-color: white;
                font-size: 10px;
                position: absolute;
                margin-left: -19px;
                @media screen and (max-width: 540px) {
                    display: none;
                }
    }
    

    .tested{
        margin-top: 60px;
        width: auto;
        height: auto;
        display: block;
        // position: relative;
        @media screen and (max-width: 540px) {
            color: white;
            position: absolute;
            width: auto;
            height: auto;
            font-size: 10px;
            display: none;
            align-items: center;
            text-align: justify;
            flex-direction: row;
            justify-content: space-between;
            justify-content: center;
            margin-right: 10px;
            margin-left: 10px;
            margin-top: -20px;
            padding: 10px;
        }

        &::before{
            content: "";
            width: 250px;
            height: 1px;
            background-color: white;
            font-size: 10px;
            position: absolute;
            margin-left: -19px;
            @media screen and (max-width: 540px) {
                display: none;
            }
        
        

        
        }     
       

        &::after{
            content: "";
            width: 250px;
            height: 1px;
            background-color: white;
            font-size: 10px;
            position: absolute;
            margin-left: -19px;
            @media screen and (max-width: 540px) {
                display: none;
            }
        

        
        }     
       
        
        .hom{
            display: block;
            text-decoration: none;
            text-align: center;
            color: white;
            padding: 10px;
            font-weight: 700;
            opacity: 0.9;
            font-size: 15px;
            margin-top: 15px;

            @media screen and (max-width: 540px) {
                padding: 5px;
                font-size: 10px;
                display: block;
                justify-content: right;
                align-items: center;

            }
        

            &:hover{
                color: aqua;
                cursor: pointer;
                opacity: 1;
            }
        }
    }
}
    .imag-info{
        float: right;
        border: none;
        border-radius: 10px;
        background-color: #000;
        color: white;
        box-shadow: 2px 2px 2px 2px grey, -2px -2px 2px 2px grey;
        margin-top: -430px;
        padding: 10px;
        padding-top: 32px;
        margin-right: 5%;
        opacity: .7;
        height: auto;
        width: auto;
        z-index: -1;
        @media screen and (max-width: 540px){
            display: grid;
            position: absolute;
            margin-top: -8px;
            padding: 20px 15px;
            margin-left: 10%;
            margin-right: 10%;
          
        }
        span{
            color: red;
            font-size: 25px;
        }
        h3{
            text-align: center;
            font-size: 20px;
            font-family: verdana;
            em{
                color: aqua;
                animation: webs 4s linear infinite;
                @keyframes webs{
                    from{
                        width: 1%;
                        color: white;
                        text-transform: uppercase;
                    }
                    to{
                        text-transform: lowercase;
                        color: gold;
                        width: 60%;
                    }
                }
            }
        }
        img{
            width: 250px;
            height: 200px;
            border-radius: 90%;
            margin-top: 20px;
            margin-left: 10px;
            @media screen and (max-width: 540px){
                width: 250px;
                height: 200px;
                margin: 10px;
                padding: auto;
            }
        
        }

        h2{
            text-align: start;
            color: red;
            a{
            text-decoration: none;
            color: aqua;


            &:hover{
                color: gold;
                cursor: crosshair;

            }
        }
    }
}    

.social-media{
    background-color: #000;
    text-align:center;
    margin-top: 1px;
    width: 100vw;
    height: auto;
    color: white;
    padding-top: 30px;
    font-size: 25px;
    @media screen and (max-width: 540px){
        width: auto;
        height: auto;
        margin-top: 490px;
        text-align: center;
        padding-top: 10px;
        p{
            font-size: 15px;
        }

    }
    .social-3{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        .linksocial{
            text-decoration: none;
            color: #fff;
        }
        i{
            padding: 20px;
            &:hover{
                cursor: grab;
                color: gold;
                font-size: 25px;
            }
        }
        @media screen and (max-width: 540px) {
            margin: auto;
            width: auto;
            height: auto;
        }
    }
}
    footer{
        text-align: center;
        height: auto;
        color: #000;
        margin-top: 80px;
        background-color: grey;
        padding-top: 50px;
        font-size: 30px;
        @media screen and (max-width: 540px) {
            text-align: center;
            padding: 10px;
            margin-top: 10px;
            margin-bottom: 10px;
            height: auto;
            color: black;
        }
    }
